{% extends "base.html" %}
{% load static %}

{% block content %}
    <style>
        .btn-outline-secondary{
            color: #6c757d !important;
        }
        .btn-outline-secondary:hover{
            color: #ffffff !important;
        }
    </style>
    <main class="album py-4 bg-light">
        <section class="container d-flex bg-white rounded p-5 gap-3">
            <div class="ImageContent">
                <img src="{{object.photo.url}}" alt="" class="img-fluid rounded" style="max-height: 500px;">
            </div>

            <div class="TextContent w-50">
                <div class="Price">
                    <h1>{{object.title}} - {{object.author}}</h1>
                    <h3>R$ {{object.price_loan}}</h3>
                    <hr>
                    <div class="Content">
                        <p style="text-align: justify;">
                            Este {{object.brand}} {{object.model}} {{object.color}} é um carro elegante e confiável, fabricado no ano de {{object.factory_year}}. 
                            Com apenas {{object.mileage}} km rodados, este carro está em excelente estado. 
                            Equipado com motor potente e eficiente, tecnologia avançada, 
                            proporciona uma condução confortável e segura.  
                            Com sua cor {{object.color}}, este {{object.model}} exala sofisticação e estilo. 
                            Não perca a oportunidade de adquirir este veículo de 
                            qualidade por um ótimo preço!</p>
                    </div>
                    {% if user.is_authenticated %}
                        <div class="btn-group">
                            <a href="{% url 'update_book' book.pk %}" class="btn btn-md btn-outline-secondary ">Editar</a>
                            <button class="btn btn-md btn-outline-secondary" type="button" id="DeleteButton">Deletar</button>


                        </div>
                    {% endif %}

                </div>
            </div>
        </section>


  <!-- Modal -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    document.getElementById("DeleteButton").addEventListener("click", function() {
        Swal.fire({
            title: "Deseja excluir esse livro: {{object.title}}",
            text: "Se excluir, todos os dados do livro serão perdidos!",
            showDenyButton: true,
            confirmButtonText: "Sim, excluir",
            denyButtonText: `Cancelar`
        })
        .then((result) => {
            if (result.isConfirmed) {
            // Realiza a exclusão via AJAX
            console.log("ooooooooooooo potencia")
                $.ajax({
                    url: "{% url 'delete_book' book.pk %}", // Substitua 'delete_book' pela URL da sua view de exclusão
                    type: "POST", // Ou "DELETE", dependendo da configuração da sua view
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}' // Adiciona o token CSRF
                    },
                    success: function(response) {
                        // Exibe uma mensagem de sucesso
                        Swal.fire({
                            icon: "success",
                            title: "Livro excluído!",
                            showConfirmButton: false,
                            timer: 1500
                        }).then(() => {
                            // Redireciona para a página inicial ou outra página após a exclusão
                            window.location.href = "{% url 'list' %}"; // Substitua 'pagina_inicial' pela URL desejada
                        });
                    },
                    error: function(xhr, status, error) {
                        // Exibe uma mensagem de erro
                        Swal.fire({
                            icon: "error",
                            title: "Erro ao excluir o livro",
                            text: "Por favor, tente novamente mais tarde."
                        });
                    }
                });
            }
        })
    })
    
  </script>

    </main>
{% endblock %}